<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="book" class="Book" >
        <constructor-arg value="Math" index="0" type="java.lang.String" />
        <constructor-arg value="22.5f" index="1" type="float" />
        <!--<property name="name" value="Math" />-->
        <!--<property name="price" value="22.5f" />-->
    </bean>

</beans>